body {
    padding: 0;
    margin: 0;
    background: url('https://res.cloudinary.com/dqkl3iifo/image/upload/v1677994377/logos/spacebg_fgoghi.jpg');
    width: fit-content;
}

.popup {
    margin: auto;
    width: 300px;
    
}

.popup .wrapper {
    margin: 3rem 1rem;
}

p {
    margin: 1rem;
    font-size: 1rem;
    text-align: center;
    color: white;
}
