.popup {
    margin: auto;
    width: 300px;
    background: url('https://res.cloudinary.com/dqkl3iifo/image/upload/v1677994377/logos/spacebg_fgoghi.jpg');
}

p {
    margin: 1rem 0.25rem;
    font-size: 1rem;
    text-align: center;
    color: white;
}
